.container
    header
        nav
            .nav-element: a(href="articles.html") Статті
            .nav-element: a(href="index.html") Спільнота
            .nav-element: a(href="index.html") Мої повідомлення
            .nav-profile
                a(href="profile.html")
                    .img-border: img(src="../img/user.png", alt="img")
                    span#user-name
                .settings: a(href="profileSettings.html"): img(src="/img/settings.png", alt="Settings")