html(lang="uk")
    include ./includes/head.pug
    body
        include ./includes/header.pug
        .container
            .col-lg-6.offset-lg-3.col-8.offset-2
                p Ім'я:
                    span#name
                p Прізвище:
                    span#surname
                p Країна:
                    span#country
                p Місто:
                    span#city
                p Пошта:
                    span#email
                p Телефон:
                    span#phone
        include ./includes/footer.pug
