html(lang="uk")
    include ./includes/head.pug
    body
        h1 Вхід у систему
        .container
            .row
                .col-lg-6.offset-lg-3.col-8.offset-2
                    .form
                        .form-group
                            label E-mail
                            input.form-control(type="text", name="name", placeholder="Логін")
                        .form-group
                            label E-mail
                            input.form-control(type="email", name="email", placeholder="E-mail")
                        .form-group
                            label Пароль
                            input.form-control(type="password", name="pass", placeholder="Пароль")
                        .form-group
                            label Підтвердіть пароль
                            input.form-control(type="password", name="pass2", placeholder="Підтвердження паролю")
                        .form-group
                            button.btn.btn-success(onclick="checkInputs()") Зареєструватись
                            a(href="login.html")
                    
                    p#err(style="display: none; text-align: center;") Не всі поля заповнено
        include ./includes/footer.pug
